.padding-5 {
  padding-left: 10%;
  padding-right: 10%;
}

.report {
  width: 80%;
  margin-left: 10%;
}

.pie-report {
  width: 50% !important;
  padding-left: 25%;
}

/* Add the styles for the search container */
.contenedorFiltro {
  display: flex;
  align-items: center;
  margin: 15px;
  width: 100%;
}

.botonAplicar {
  border: 2px solid #333;
  margin-left: 15px;
  background-color: white;
}
