<div class="w-full flex items-center pt-10 factura-container">
  <form [formGroup]="form">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Cliente</mat-label>
        <input
          type="text"
          matInput
          [formControl]="clienteControl"
          [matAutocomplete]="cliente"
        />
        <mat-autocomplete
          #cliente="matAutocomplete"
          [displayWith]="displayFnClientes"
          (optionSelected)="handleSelectCliente($event)"
        >
          <mat-option
            *ngFor="let client of filteredClientes | async"
            [value]="client"
          >
            {{ client.nombreCliente }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span *ngIf="selectedCliente">
        {{ selectedCliente.nombreCliente }}
        <span (click)="selectedCliente = null" class="cursor-pointer">X</span>
      </span>
    </div>
    <div>
      <mat-checkbox class="example-margin" [formControl]="notaPedido">
        Viene de nota de pedido?
      </mat-checkbox>
      <mat-form-field class="example-full-width">
        <mat-label>Nro. Nota de Pedido</mat-label>
        <input
          type="number"
          matInput
          placeholder="Nro. Nota de Pedido"
          [formControl]="notaPedidoNro"
          [disabled]="!notaPedido.value"
        />
      </mat-form-field>
    </div>
    <div>
      <div class="form-button-group">
        <mat-form-field class="example-full-width">
          <mat-label>Productos</mat-label>
          <input
            type="text"
            matInput
            [formControl]="articuloControl"
            [matAutocomplete]="articulo"
          />
          <mat-autocomplete
            #articulo="matAutocomplete"
            [displayWith]="displayFnArticulos"
            (optionSelected)="handleSelectArticulo($event)"
          >
            <mat-option
              *ngFor="let art of filteredArticulos | async"
              [value]="art"
            >
              {{ art.nombreArt }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input
            type="number"
            matInput
            placeholder="Cantidad"
            [formControl]="artQty"
          />
        </mat-form-field>
        <div class="form-button-group">
          <button mat-button (click)="addArticulo()">Agregar</button>
        </div>
      </div>
      <div>
        <div *ngIf="selectedArticulos.length > 0">
          <span *ngFor="let selection of selectedArticulos"
            >{{ selection.articulo.nombreArt + " - " + selection.cantidad
            }}<span (click)="deleteArticulo(articulo)">X</span></span
          >
        </div>
      </div>
    </div>
    <div>
      <mat-checkbox class="example-margin" [formControl]="generaRemito">
        Genera remito?
      </mat-checkbox>
    </div>
    <div class="form-button-group">
      <button mat-button (click)="crearFactura()">Crear Factura</button>
    </div>
  </form>
</div>
