<section class="hero">
  <div class="hero-text">
    <h1>Bienvenido</h1>
    <p>Sistema Integral de Carnicerias</p>
  </div>
</section>
<h2 class="tituloFeatures">Menu Principal</h2>
<section class="features">
  <div class="feature-grid">
    <div class="feature-item">
      <a href="/factura/new">
        <h3>Facturas</h3>
        <p>Creelas desde cero o desde una nota de pedido.</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/remito/listado">
        <h3>Remitos</h3>
        <p>
          Una vez creada la factura, con solo hacer click en un checkbox, se
          autocreará.
        </p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/almacen">
        <h3>Stock</h3>
        <p>Puede editar el stock con un simple click desde el listado.</p>
      </a>
    </div>
    <div class="feature-item">
      <a href="/reportes">
        <h3>Reportes y Analítica</h3>
        <p>Reportes preformateados con la información más importante</p>
      </a>
    </div>
  </div>
</section>
