:host {
  display: block;
}

button {
  font-size: 0.8em; // Increase the font size
  margin-right: 10px; // Add space to the right of each button
}

mat-toolbar {
  background-color: #222;
  color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-item {
  cursor: pointer;
  margin-left: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.spacer {
  margin-left: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}

button {
  font-size: 0.7em; /* Increased the font size */
  margin-right: 20px; /* Increased the space to the right of each button */
  padding: 10px 20px; /* Added padding to make the button larger */
  background-color: #fffff0; /* Button color */
  color: black; /* Text color */
  border: none; /* Remove border */
  cursor: pointer; /* Cursor effect */
  text-decoration: none; /* Remove text underline */
  transition: 0.3s; /* Transition effect */
  border-radius: 5px; /* Rounded corners */
}

button:hover {
  background-color: #d3d3d3; /* Darken button color when hovered */
}
