/* footer.component.scss */
footer {
  background-color: #222;
  color: #fff;
  padding: 10px; /* Decreased from 20px to 10px */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content div {
  margin: 5px 0; /* Decreased from 10px to 5px */
}

.footer-content a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ddd;
}
