<!-- footer.component.html -->
<footer class="flex-wrapper">
  <div class="footer-content">
    <p>© 2023 SIC</p>
    <p>Contact: gonzalorescia@gmail.com</p>
    <div>
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="https://github.com/resciagonzalo" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </div>
    <div>
      <a routerLink="#">Terms of Service</a>
      <a routerLink="#">Privacy Policy</a>
    </div>
  </div>
</footer>
